.elements__delete {
    background: no-repeat center/contain url(../../../images/trash.svg);
    position: absolute;
    width: 18px;
    height: 19px;
    top: 20px;
    right: 20px;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
}
.elements__delete:hover {
    cursor: pointer;
    opacity: 0.6;
}
